{% extends 'main/base.html' %}

{% block header %}
Temas
{% endblock header %}

{% block main %}
<form action="{% url 'posts:temapost_list' %}" method="get">
    <input type="text" name="query" placeholder="Buscar tema">
    <button type="submit">Buscar</button>

</form>

<div>
    <ul style="list-style-type: none;"></ul>
    {% for temapost in temapost %}
    <li>{{temapost}}</li>   
    {%empty%}
    <p>No hay registros</p>
    {% endfor %}
    </ul>
</div>
<p>
    <button><a href="{% url 'posts:index' %}">Volver</a></button>
</p>

{% endblock main %}