<navbar style="display: flex; justify-content: center; margin-bottom: 2%; gap: 1%;">

    {% if user.is_authenticated %}
    <button><a href="{% url 'usuarios:index' %}">Usuarios</a></button>
    <button><a href="{% url 'posts:index' %}">Posts</a></button>
    <button><a href="{% url 'main:index' %}">Home</a></button>

    <form action="{% url 'main:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <p><b><a href="#">{{user.username}}</a></b></p>

    {% else %}

    <button><a href="{% url 'main:login' %}">Login</a></button>


    {% endif %}

</navbar>