<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPintos-EntregaFinal</title>
</head>

<body style="display: grid; justify-content: center; align-items: center; height: 100vh;">
    <header>
        <h1 style="display: flex; justify-content: center;">
            {% block header %}
            {% endblock header %}
        </h1>
    </header>

    <main>
        <div>
            <p>
                {% include 'main/componentes/navbar.html' %}
            </p>

            {% block main %}
            {% endblock main %}
        </div>

    </main>

    <footer>
        {% include 'main/componentes/footer.html' %}
    </footer>

</body>

</html>