{% extends 'main/base.html' %}

{% block header %}
Blog
<p style="text-align: center; position:fixed;"><button><a href="{% url 'main:login' %}">Login</a></button></p>
{% endblock header %}


{% block main %}

<div>
    <img style="background-size: cover;  background-position: center;background-repeat: no-repeat;height: 100vh; margin: 0;"
        src="https://images.unsplash.com/photo-1468421870903-4df1664ac249?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="">
</div>

{% endblock main %}